name: Docker deploy

on:
  push:
    branches: main

jobs:
  docker-build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build
        run: docker build -t partner-research -f Dockerfile .
      - name: Login to registry
        run: docker login -u ${{ secrets.DOCKER_LOGIN }} -p ${{ secrets.DOCKER_PASSWORD }} ${{ secrets.DOCKER_REGISTRY }}
      - name: Tag
        run: docker tag partner-research ${{ secrets.DOCKER_REGISTRY }}/partner-research
      - name: Push
        run: docker push ${{ secrets.DOCKER_REGISTRY }}/partner-research
